/* Rules for the box that will contain the pictures */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  } 

.box {

  width: 70rem;
  height: 58rem;
  border: 3px solid black;
  margin: 20px auto;
}
/* Rules to be applied to all the images */
img {
    width: 15rem;
    height: 15rem;
    border: 2px black solid;
    padding: 10px 10px 20px 10px;
  opacity: 0.5;
  filter: grayscale();
  transform: rotate(10deg);
} 
/* Classes applied to specify the picture's position */
.pic1 {
  position: relative;
  left: 10rem;
  top: 5rem;
}
.pic2 {
  position: relative;
  top: 15rem;
  left: 5rem;
}
.pic3 {
  position: relative;
  top: 25rem;
  

}
.pic4 {
  position: relative;
  top: 35rem;
  right: 5rem;
}
/*  Hover effect for the pictures, new position while doing the hover and setting none grayscale effect*/
img:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
} 

