/* Rules for the box that will contain the pictures */
.box {

  width: 100rem;
  height: 100rem;
  border: 3px solid black;
  margin: 20px auto;
}
/* Rules to be applied to all the images */
img {
    width: 15rem;
    height: 15rem;
    border: 2px black solid;
    padding: 10px 10px 20px 10px;
  opacity: 0.5;
  filter: grayscale();
  transform: rotate(10deg);
} 
/* Classes applied to specify the picture's position */
.pic1 {
  position: relative;
  left: 5rem;
  top: 5rem;
}
.pic2 {
  position: relative;
  top: 10rem;
}
.pic3 {
  position: relative;
  top: 15rem;
  right: 5rem;

}
.pic4 {
  position: relative;
  top: 20rem;
  right: 10rem;
}
/*  Hover effect for the pictures, new position while doing the hover and setting none grayscale effect*/
img:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
} 

