body {

}
img {
  margin: 30px;
  padding: 100px;
  display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 2px black solid;
    padding: 10px 10px 20px 10px;
    position: relative;
    top: 20%;
  left: 10%;
  z-index: -1;
  opacity: 0.5;
  filter: grayscale(100);
  transform: rotate(10deg);
} 

.pic1:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 300px;
  left: 500px;
}
.pic2:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 400px;
  left: 500px;
}
.pic3:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 500px;
  left: 500px;
}
.pic4:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: none;
  position: relative;
  top: 20%;
left: 10%;
}